<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Swift</title>
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
    <main>
        <div class="header">
            <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/8569/8569864.png" alt="">
            <h2>Study Swift</h2>
            </div>
            <div class="optionBox">
                <div class="mobileOption">
                  
                    <img src="https://img.icons8.com/?size=80&id=TFa5dmzOAaDh&format=png" alt="">
                    </div>
                <div class="option">Login</div>
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div class="page1">
            <div class="cardBox">
                <div class="card">
                    <div class="cardHeading">javaScript</div>
                    <p>Front: What is JavaScript?
                        Back: JavaScript is a scripting language used to create interactive and dynamic content on websites.
                        2️⃣</p>
                </div>
                <div class="card">
                    <div class="cardHeading">javaScript</div>
                    <p>Front: What is a function in JavaScript?
                        Back: A block of code designed to perform a task when it is called.</p>
                </div>
                <div class="card centerCard">
                    <div class="cardHeading">javaScript</div>
                </div>
                <div class="card">
                    <div class="cardHeading">javaScript</div>
                </div>
                <div class="card">
                    <div class="cardHeading">javaScript</div>
                </div>
            </div>
            <div class="toolBox">
                <div class="tool pomodoroTimer">
                    <img src="https://cdn-icons-png.flaticon.com/128/17671/17671133.png" alt="">
                    <div class="toolName">Pomodoro timer</div>
                </div>
                <div class="tool cgpaConvertion">
                    <img src="https://play-lh.googleusercontent.com/Lc3z_EckA4tSa6zeEXFBmmjCEawZJHYDPh5oy3t90BVwDc0-fgNDBZCWRmRqmW16PvLR=w240-h480-rw" alt="">
                    <div class="toolName">CGPA Convertor</div>
                </div>
                <div class="tool motivation">
                    <img src="https://cdn-icons-png.flaticon.com/128/3989/3989573.png" alt="">
                    <div class="toolName">Motivation Board</div>
                </div>
                <div class="tool">
                    <img src="https://cdn-icons-png.flaticon.com/128/3997/3997593.png" alt="">
                    <div class="toolName">Image to Pdf convertor</div>
                </div>
                <div class="tool">
                    <img src="https://cdn-icons-png.flaticon.com/128/3559/3559038.png
                    " alt="">
                    <div class="toolName">Daily Time Table </div>
                </div>
                <div class="tool translator">
                    <img src="https://cdn-icons-png.flaticon.com/128/4033/4033369.png" alt="">
                    <div class="toolName">Translator</div>
                </div>
            </div>
        </div>
    </main>
    <script src="javaScripts/home.js"></script>
</body>
</html>