<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Swift</title>
    <link rel="stylesheet" href="stylesheets/cgpaConversion.css">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div class="header">
            <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/8569/8569864.png" alt="">
            <h2>Study Swift</h2>
            </div>
            <div class="optionBox">
                <div class="mobileOption">
                   
                    <img src="https://img.icons8.com/?size=80&id=TFa5dmzOAaDh&format=png" alt="">
                    </div>
                <div class="option">Login</div>
            </div>
        </div>
        <div class="fakeHeader"></div>
        <div class="page1">
            <div class="timeOption">
                    <div class="options">
                        <select name="" id="" class="first">
                            <option value="en">English</option>
                            <option value="hindi">Hindi</option>
                        </select>
                    </div>
                    <div class="options">TO</div>
                    <div class="options">
                        <select name="" id="" class="second">
                            <option value="hindi">Hindi</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>
        <input type="text" name="" id="" class="translatorInput" placeholder="Input sentence">
        <div class="translatorOutput"></div>
        <button class="button">Translate</button>
        </div>
        
    </main>
    <script src="javaScripts/translator.js"></script>
</body>
</html>